.table{
  display: table;
  margin: 30px auto;
  border: 1px solid $borderColor;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  .t-row{
    display: table-row;
    &:nth-child(even){
      background-color: $softGray;
    }
    .t-cell{
      border-bottom: 1px solid $borderColor;
    }
    &:last-child{
      .t-cell{
        border-bottom: none;
      }
    }
  }
  .t-cell{
    display: table-cell;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    .action-btn{
      width: 100%;
      display: block;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      &.delete-btn{
        background-color: $dangerBtn;
        color: #fff;
      }
      &.edit-btn{
        background-color: $normalBtn;
        color: #fff;
      }
    }
  }
  .t-head{
    .t-cell{
      font-size: 20px;
      font-weight: 600;
    }
  }
}