<div class="container">

  <div class="text-right">
    <button
      type="button"
      (click)="openEditForm()"
      class="add-user-btn">Add user</button>
  </div>
  
  <div class="table text-center">
    
    <div class="t-row t-head">
      
      <div class="t-cell">
        Username
      </div>
      <div class="t-cell">
        Full name
      </div>
      <div class="t-cell">
        Email
      </div>
      <div class="t-cell">
        Phone
      </div>
      <div class="t-cell">
        Address
      </div>
      <div class="t-cell">
        Actions
      </div>
  
    </div>
    <div class="t-row" *ngFor="let user of users">
  
      <div class="t-cell">
        {{ user.username }}
      </div>
      <div class="t-cell">
        {{ user.name }}
      </div>
      <div class="t-cell">
        {{ user.email }}
      </div>
      <div class="t-cell">
        {{ user.phone }}
      </div>
      <div class="t-cell">
        {{ user.address }}
      </div>
      <div class="t-cell">
        <button type="button" (click)="openEditForm(user.id)" class="action-btn edit-btn">edit</button>
        <button type="button" (click)="deleteUser(user.id)" class="action-btn delete-btn">delete</button>
      </div>
  
    </div>
  
  </div>

  <user-form [user]="userForEdit" (formSubmitted)="listUpdated()" *ngIf="openUserForm"></user-form>

</div>