<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>
    username: 
    <input type="text" formControlName="username" placeholder="username" required>
    <p
      class="error-message"
      *ngIf="
        userForm.controls.username.touched
        && userForm.controls.username.errors
        && userForm.controls.username.errors.required">
      username is required
    </p>
  </label>
  <label>
    Full name: <input type="text" formControlName="name" placeholder="Full name" required>
    <p class="error-message" *ngIf="userForm.controls.name.touched && userForm.controls.name.errors.required">
      name is required
    </p>
  </label>
  <label>
    Email: <input id="email" type="email" formControlName="email" placeholder="Email" required>
    <div *ngIf="userForm.controls.email.touched">  
      <div *ngIf="userForm.controls.email.errors.required;then email_required else email_syntax"></div>    
      <ng-template #email_required>
        <p class="error-message">
          email required
        </p>
      </ng-template>
      <ng-template #email_syntax>
        <p class="error-message" *ngIf="userForm.controls.email.errors.email">
          you should write a correct email
        </p>
      </ng-template>
    </div>
    

  </label>
  <label>
    Phone: <input type="text" formControlName="phone" placeholder="Phone">
  </label>
  <label>
    Address: <input type="text" formControlName="address" placeholder="Address">
  </label>

  <button type="submit" class="submit" [disabled]="!userForm.valid">
    Submit
  </button>

</form>